*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
}

.horz_line{
    width: 95%;
    height: 0.5px;
    margin-left: 2.5%;
    border-radius: 2px;
    background-color: rgba(105, 103, 103, 0.372);
}

.vertical_space{
    width: 100%;
    height: 50px;
    /* background-color: darkseagreen; */
}

.vertical_space_half{
    width: 100%;
    height: 20px;
    /* background-color: darkseagreen; */
}

.header{
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgba(235, 235, 235, 0.372);
}

.header_title{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}

#calculator_icon_svg{
    transform: rotate(-30deg);
}

#calculator_icon_svg path:nth-child(1){
    stroke-dasharray: 69.70px;
    stroke-dashoffset: 69.70px;
    animation: line-anim 0.500s forwards ease;
}

#calculator_icon_svg path:nth-child(2){
    stroke-dasharray: 29.68px;
    stroke-dashoffset: 29.68px;
    animation: line-anim 0.500s forwards ease 0.250s;
}

#logo{
    
    margin-left: 10px;
    /* animation: fill 0.250s ease forwards 0.450s; */
    /* background-color: aquamarine; */
}
    

#logo path:nth-child(1){
    stroke-dasharray: 47.74px;
    stroke-dashoffset: 47.74px;
    animation: line-anim 0.250s ease forwards 0.250s;
}

#logo path:nth-child(2){
    stroke-dasharray: 52.27px;
    stroke-dashoffset: 52.27px;
    animation: line-anim 0.250s ease forwards 0.1s;
    
}

#logo path:nth-child(3){
    stroke-dasharray: 21.05px;
    stroke-dashoffset: 21.05px;
    animation: line-anim 0.250s ease forwards 0.150s;
    
}

#logo path:nth-child(4){
    stroke-dasharray: 38.68px;
    stroke-dashoffset: 38.68px;
    animation: line-anim 0.250s ease forwards 0.200s;
    
}

#logo path:nth-child(5){
    stroke-dasharray: 47.23px;
    stroke-dashoffset: 47.23px;
    animation: line-anim 0.250s ease forwards 0.250s;
}

#logo path:nth-child(6){
    stroke-dasharray: 21.47px;
    stroke-dashoffset: 21.47px;
    animation: line-anim 0.250s ease forwards 0.300s;
}

#logo path:nth-child(7){
    stroke-dasharray: 58.43px;
    stroke-dashoffset: 58.43px;
    animation: line-anim 0.250s ease forwards 0.350s;
}

#logo path:nth-child(8){
    stroke-dasharray: 49.37px;
    stroke-dashoffset: 49.37px;
    animation: line-anim 0.250s ease forwards 0.400s;
}

#logo path:nth-child(9){
    stroke-dasharray: 9.38px;
    stroke-dashoffset: 9.38px;
    animation: line-anim 0.250s ease forwards 0.450s;
    
}

#logo path:nth-child(10){
    stroke-dasharray: 43.21px;
    stroke-dashoffset: 43.21px;
    animation: line-anim 0.250s ease forwards 0.5s;
}

#logo path:nth-child(11){
    stroke-dasharray: 45.18px;
    stroke-dashoffset: 45.18px;
    animation: line-anim 0.250s ease forwards 0.550s;
}

.nav_lang_button{

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: normal;
    background-color: royalblue;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3A4655;
}

#hindi_icon{
    margin-right: 5px;
}

#lang_text{
    font-size: 15px;
    font-weight: normal;
    margin-left: 5px;
    /* background-color: chocolate; */
}

.sections{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(214, 213, 213, 0.372);
}

.sub_section{
    width: 100px;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
    border: 2px solid #a5a2a235;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
    /* background-color: rgb(174, 173, 173); */
}

#video_icon{
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-color: brown; */
}

#sub_section_text{
    display: flex;
    margin-top: 8px;
    justify-content: center;
    /* background-color: aquamarine; */
}

.space1{
    background-color:rgba(214, 213, 213, 0.372);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculator{

    width: 250px;
    color: black;
    padding: 3px;
    border: solid 1px  #3A4655;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 2px 2px #dfe1e3;
    align-content: center;
}

.result_screen{
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    grid-column: 1 / 12;
    /* background-color: chocolate; */
}

.operation{
    height: 20px;
    font-size: 18px;
    padding-right: 6px;
    padding-left: 6px;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: aquamarine; */
}

.typed{
    /* height: 55%; */
    height: 47px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 35px;
    display: flex;
    align-items: center;    
    justify-content: right;
    /* background-color: rgb(255, 127, 249); */
}

.button_area{
    grid-column: 1 / 12;
}

.button_row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
}

.button{
    
    height: 50px;
    margin: 1px;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    border: #a5a2a2 solid 1px;
    border-radius: 5px;
    box-shadow: 1px 1px #dfe1e3;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;
}

.button_big{
    height: 50px;
    margin: 1px;
    cursor: pointer;
    font-size: 22px;
    color: white;
    border: #a5a2a2 solid 1px;
    background-color: rgb(56, 231, 231);
    user-select: none;
    -webkit-user-select: none;
    border-radius: 5px;
    box-shadow: 1px 1px #dfe1e3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    grid-column: span 2;
}

.dev_section{
    width: 100%;
    /* background-color: linen; */
}

.card_section{
    
    height: 350px;
    padding-top: 15px;
    padding-bottom: 50px;
    background-color: #dfdbdb;
}

.card_section_heading{
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: deeppink; */
}

.cards{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* background-color: goldenrod; */
}

.previous_button{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transform: translateX(200%);
    background-color: #808080;
}

.slider{
    height: 75px;
    /* display: flex;
    flex-direction: row; */
    /* background-color: #808080; */
}

.sub_card{
    width: 150px;
    height: 75px;
    display: inline-block;
    border-radius: 8px;
    margin-left: 1px;
    margin-right: 1px;
    z-index: 0;
}

.sub_card_1{

    background-image: linear-gradient(to left, teal , rgba(0, 128, 128, 0.4) 30%, rgba(0, 128, 128, 0) 50%);
}

.sub_card_2{
    /* transform: translateX(-30%); */
    background-color: teal;
}

.sub_card_3{
    /* outline: #3A4655 solid 2px; */
    /* transform: translateX(-50%); */
        background-image: linear-gradient(to right, teal , rgba(0, 128, 128, 0.4) 30%, rgba(0, 128, 128, 0) 50%);
}

.next_button{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transform: translateX(-200%);
    background-color: #808080;
}

.player_container{
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: #3A4655;     */
}

.player{
    width: 444px;
    height: 250px;
    /* border-radius: 15px; */
    position: relative;
    /* background-color: #3A4655; */
}

video{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
}

.player_controls{
    height: 35px;
    width: 429px;
    position: absolute;
    /* position: relative; */
    left: 10px;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: rgb(3, 0, 0); */
}

.player_loading{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* margin-left: -5px; */
    margin-right: -5px;
    
    /* background-color: green; */
    visibility: hidden;
}

.play_pause{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    cursor: pointer;
}

.mute{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    cursor: pointer;
}

.progress_filled{
    height: 4px;
    width: 300px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 2.5px;
    background-color: #80808080;

    /* visibility: hidden; */
}

.progress_bar{
    height: 4px;
    width: 0%;
    border-radius: 2.5px;
    background-color: white;
}

.comment_container{
    
    /* height: 200px; */
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    /* background-color: aqua; */
}

.comment_text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: chocolate; */
}

.comment_text_heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    /* background-color: #a5a2a2; */
}

    .comment_text_heading_icon{
        width: 60px;
        height: 60px;
        margin-left: 20px;
        /* background-color: aquamarine; */
    }

    .comment_text_heading_text{
        font-family: sans-serif;
        font-size: large;
        font-weight: bold;
        margin-left: 15px;
    }

.comment_text_text{
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    /* background-color: darkolivegreen; */
}

    .comment_form{
        width: 50%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        
    
        /* background-color: darkmagenta; */
    }

        #feedback_name{
            font-size: medium;
        }

        #feedback_feedback{
            margin-top: 20px;
            font-size: medium;
        }

        #submit_button{
            width: 120px;
            height: 50px;
            border-radius: 8px;
            font-size: medium;
            margin-top: 20px;
            cursor: pointer;
        }

.footer_space{
    background-color: rgba(235, 235, 235, 0.372);
}

.footer{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 235, 235, 0.372);
}

.footer_text{
    margin-top: 20px;
    font-size: small;
    color: #808080;   
}


/* animation area */

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }

    to{
        fill: black;
    }
}